body {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 110px;
  background-color: #fdfdfd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 62px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 24px 71px 24px 71px;
  position: relative;
}

ul {
  list-style: none;
}

li {
  color: black;
}

.header-left {
  display: flex;
  align-items: center;
  padding: 0;
}

.header-left-text {
  margin-left: 23px;
}

#name {
  padding-bottom: 5px;
}

#email {
  opacity: 0.5;
}

#avatar {
  width: 63px;
  height: 63px;
  border: 2px solid rgba(252, 199, 61, 0.37);
  border-radius: 50%;
}

.header-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cash-wrapper {
  display: flex;
  align-items: center;
}

#cash {
  color: black;
  font-weight: 700;
  font-size: 36px;
  margin-right: 12px;
  z-index: 7;
}

.circles {
  position: relative;
  width: 37px;
  height: 37px;
}

.zero-circle {
  position: absolute;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  color: black;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-circle {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #fcc73d;
  border-radius: 50%;
  z-index: 5;
  top: 0;
  left: 0;
}

.second-circle {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 37px;
  height: 37px;
  background-color: #fcc73d;
  border-radius: 50%;
  opacity: 0.4;
  z-index: 4;
}

.third-circle {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 37px;
  height: 37px;
  background-color: #fcc73d;
  border-radius: 50%;
  opacity: 0.4;
  z-index: 3;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-button {
  width: 133px;
  height: 44px;
  border-radius: 6px;
  background-color: #8cf27b;
  color: black;
  padding: 12px 36px 12px 36px;
  border: none;
}

main {
  margin: 39px 71px 39px 71px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 436px;
  background: url(img/wrb.jpg) no-repeat;
  background-size: cover;
  background-position: 15% 40%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  margin: 20px;
}

.redbutton {
  border-radius: 25px;
  border: 8px ridge red;
  background-color: rgb(255, 72, 72);
  color: white;
}

.blackbutton {
  border-radius: 25px;
  border: 8px ridge rgb(26, 26, 26);
  background-color: rgb(37, 37, 37);
  color: white;
}

.incbutton {
  border-radius: 25px;
  border: 8px ridge #ffd700;
  background-color: #daa520;
  color: white;
}

.input {
  border-radius: 25px;
  border: 8px ridge #ffffff;
  background-color: #cacaca;
  text-align: center;
  color: black;
  font-weight: bold;
  width: 50%;
}

.main-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 24px;
  color: black;
}

@media all and (max-width: 420px) {
  header {
    padding: 15px 20px 15px 20px;
    grid-template-rows: 42px;
    height: 69px;
  }

  .header-left-text {
    display: none;
  }

  .login-button {
    width: 84px;
    height: 28px;
    border-radius: 3px;
    padding: 6px 20px 6px 20px;
    font-size: 13px;
  }

  #avatar {
    width: 39px;
    height: 39px;
  }

  #cash {
    font-weight: 700;
    font-size: 24px;
    margin-right: 7px;
  }

  .circles {
    width: 22px;
    height: 22px;
  }

  .zero-circle {
    width: 22px;
    height: 22px;
    font-size: 14px;
  }

  .first-circle {
    width: 22px;
    height: 22px;
  }

  .second-circle {
    left: 3px;
    top: 3px;
    width: 22px;
    height: 22px;
  }

  .third-circle {
    left: 6px;
    top: 6px;
    width: 22px;
    height: 22px;
  }

  main {
    margin: 26px 20px 26px 20px;
    height: 436px;
    background: url(img/wrb.jpg) no-repeat;
    background-size: 225%;
    background-position: 50% 100%;
  }

  .redbutton {
    border: 2px ridge red;
    font-size: 12px;
  }

  .blackbutton {
    font-size: 12px;
    border: 2px ridge rgb(26, 26, 26);
  }

  .incbutton {
    font-size: 12px;
    border: 2px ridge #ffd700;
  }

  .input {
    border: 2px ridge #ffffff;
    font-size: 12px;
  }

  #message {
    font-size: 12px;
  }
}
