.page {
  width: auto;
  display: flex;
  background: url(img/roulette-wheel.jpg);
  background-size: cover;
  background-position: 10% 80%;
  justify-content: flex-end;
  padding-right: 50px;
}

* {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 18px;
  color: white;
}

header {
  display: flex;
  height: 100px;
  align-items: center;
}

.login-button {
  border: 8px ridge silver;
  border-radius: 25px;
  background-color: rgb(94, 94, 94);
}

.author {
  text-align: center;
}

.avatar {
  border-radius: 25px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.buttons {
  display: flex;
  margin: 20px;
}

.redbutton {
  border-radius: 25px;
  border: 8px ridge red;
  background-color: rgb(255, 72, 72);
}

.blackbutton {
  border-radius: 25px;
  border: 8px ridge rgb(26, 26, 26);
  background-color: rgb(37, 37, 37);
}

.incbutton {
  border-radius: 25px;
  border: 8px ridge #ffd700;
  background-color: #daa520;
}

.input {
  border-radius: 25px;
  border: 8px ridge #ffffff;
  background-color: #cacaca;
  text-align: center;
  color: black;
  font-weight: bold;
}
